@import url(/buttons2.css);
body {
    background-color: #26B4BC;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.contenedor {
    max-inline-size: 900px;
    margin: auto;
    border: 10px solid seagreen;
}

.player {
    border: 10px solid saddlebrown;
    
}

.player video {
    inline-size: 100%;
    border: 10px solid red;
    
}


